PORT=3001
AUTH_TOKEN=
SIMULATE=1
SIMULATOR_API_KEY=sk-your-device-a-api-key-here
ALLOWED_ORIGINS=http://localhost:3000,https://composter.ruangawan.com

# Amazon SES SMTP
SMTP_HOST=email-smtp.ap-southeast-1.amazonaws.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=noreply@yourdomain.com
